/*exercice 1 */
h1{
    color: red;
    text-align: center;
}
h2{
    text-decoration: underline;
}
section > h2{
    color: green;
}
h2~p{
    color: blue;
    font-style: italic;
}
h1:first-of-type{
    text-shadow:5px 5px 10px red;
}
/*exercice 2 */
.div{
    height: 300px;
    width: 300px;
    background-color: blue;
}
.div:hover{
    transform: translateX();
    transform: translateY(100px);
    transform: rotate(40deg);
}
@media screen  and (max-width:700px){
    .div{
        background-color: red; 
    }
}
@media screen and (max-width:1000px){
    .div{
        background-color: green; 
    }
}

/*exercice 3 */
.navbar{
    background-color: rgb(35, 132, 228);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.about{
    background-color: rgb(3, 70, 137);
    color: white;
    padding-left: 20px;
    padding: 20px;
    
    
}
.liens ul{
    text-decoration: none;
    padding-right: 20px;
    
    
}
.liens ul li{
    display: inline;
    margin-left: 24px;
   
}
.liens ul li a{
    text-decoration: none;
    color: white;

}
.liens ul li a:hover{
    color: blue;
}
/*exercice 4 */
img {
    width: 100px;
    height: 100px;
}
.div1{
    width:70%;
    height: 400px;
    background-color: rgb(224, 199, 166);
    border: solid;
    border-color: black;
}
.img1{
    display: flex;
    justify-content: space-between;
}
.img3{
    display: flex;
    justify-content: space-between;
    position: relative;
    top:95px;
}
.img2{
    text-align: center;
}
/*exercice5 */
#boite{
    background-color: red;
    position: relative;
    width: 100px;
    height:100px;
    animation-name: redBox;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
@keyframes redBox{
    0%{
        transform:translate(10px);
    }
    50%{
        transform: translate(400px);
    }
    100%{
        transform: translate();
    }
}
